---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Shield from '@components/Shield.astro';

import { SITE_TITLE } from 'src/consts';
import Icon from '@components/Icon.astro';

import projs from '../../data/projects.json';
import jj from '../../data/jobs.json';

const jobs = [...jj, ...jj, ...jj, ...jj];
const projects = [...projs, ...projs, ...projs, ...projs];

const skillsArray = [
  {
    name: 'skill-web',
    title: 'Web Dev',
    styles: 'translate-x-4 translate-y-6 -rotate-6',
    color: '#10b981',
  },
  {
    name: 'skill-full',
    title: 'Full Stack',
    styles: 'sm:translate-x-4 translate-y-2',
    color: '#0ea5e9',
  },
  {
    name: 'skill-design',
    title: 'Design',
    styles: 'translate-y-4 relative translate-x-2 rotate-6',
    color: '#f472b6',
  },
  {
    name: 'skill-backend',
    title: 'Backend Engineering',
    styles: 'translate-y-8 md:translate-x-8 rotate-6',
    color: '#f59e0b',
  },
  {
    name: 'skill-tools',
    title: 'Tools & Ops',
    styles: 'translate-x-16 -rotate-4 whitespace-nowrap',
    color: '#a855f7',
  },
] as const;

const skillsColrs = skillsArray.map((el) => ({ name: el.name, color: el.color }));

type Skills = (typeof skillsArray)[number]['name'];

type Lang = {
  name: string;
  type: Skills[];
};

const langs: Lang[] = [
  { name: 'bash', type: ['skill-backend', 'skill-full'] },
  { name: 'go', type: ['skill-backend', 'skill-full'] },
  { name: 'py', type: ['skill-backend', 'skill-full'] },
  { name: 'ts', type: ['skill-web', 'skill-backend', 'skill-full'] },
  { name: 'docker', type: ['skill-tools', 'skill-full'] },
  { name: 'linux', type: ['skill-tools', 'skill-full'] },
  { name: 'node', type: ['skill-web', 'skill-backend', 'skill-full'] },
  { name: 'react', type: ['skill-web', 'skill-full'] },
  { name: 'tailwindcss', type: ['skill-web', 'skill-design', 'skill-full'] },
  { name: 'git', type: ['skill-tools', 'skill-full'] },
  { name: 'pgsql', type: ['skill-tools', 'skill-backend', 'skill-full'] },
  { name: 'aws', type: ['skill-tools', 'skill-full'] },
  { name: 'next', type: ['skill-web', 'skill-full'] },
  { name: 'supabase', type: ['skill-tools', 'skill-full'] },
  { name: 'mongodb', type: ['skill-tools', 'skill-backend', 'skill-full'] },
];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} | About Me`} description="My story as developer" />
  </head>
  <body>
    <Header noTitle />
    <main class="relative mx-auto mt-16 w-[80vw] p-1 md:max-w-screen-xl md:p-5">
      <div class="about-bg-img"></div>

      <section id="hero">
        <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-1">
          <div class="p-0">
            <h1 class="mb-2 text-5xl">About Me</h1>
            <p>
              Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore
              culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim
              cupidatat
            </p>
            <p>
              Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore
              culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim
              cupidatat
            </p>
            <p>
              Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore
              culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim
              cupidatat
            </p>
          </div>
          <div
            class="relative m-auto grid max-h-[500px] max-w-[500px] select-none grid-cols-3 gap-8
          text-xl tracking-wider md:text-3xl"
          >
            {
              skillsArray.map((skill) => (
                <div class={`${skill.styles} group`}>
                  <h4 id={skill.name}>{skill.title}</h4>
                  {skill.name == 'skill-design' && (
                    <span class="hidden text-sm" id="prob-not">
                      (probably not)
                    </span>
                  )}
                </div>
              ))
            }
          </div>
        </div>
        <div
          class="me-grid-container flex min-h-[200px] flex-wrap content-center items-center justify-center
          gap-5 p-5 pb-3 md:gap-x-28"
        >
          {
            langs.map((lang) => (
              <Icon
                folder="lang"
                icon={lang.name}
                class={`h-8 w-8 dark:fill-gray-400 md:h-12 md:w-12 ${lang.type.join(' ')}`}
              />
            ))
          }
          <div class="me-grid"></div>
        </div>
      </section>

      <section class="projects relative my-2">
        <h2 class="my-8 text-center text-5xl">Projects I Worked On</h2>
        <div id="prjt" class="relative flex w-full flex-wrap items-start justify-between gap-4">
          <div class="radiant-bg absolute inset-0 -z-10 rounded-lg opacity-0"></div>
          {
            projects.map((p) => (
              <div
                class="inline-block w-[400px] max-w-[80%] rounded-md
              border-2 border-gray-400 p-5 shadow-lg backdrop-blur-sm dark:bg-gray-700/30"
              >
                <div class="float-right flex justify-end gap-1">
                  {p.links.github && (
                    <a
                      href={p.links.github}
                      title="Github Link"
                      target="_blank"
                      rel="noopener"
                      class="h-5 w-5 hover:fill-sky-500 dark:fill-gray-200 dark:hover:fill-sky-500"
                    >
                      <Icon icon="github" folder="social" />
                    </a>
                  )}
                  {p.links.github && (
                    <a
                      href={p.links.web}
                      title="Link"
                      target="_blank"
                      rel="noopener"
                      class="h-5 w-5 hover:fill-sky-500 dark:fill-gray-200 dark:hover:fill-sky-500"
                    >
                      <Icon icon="link" folder="social" />
                    </a>
                  )}
                </div>
                <h4>{p.title}</h4>
                <div class="text-sm">
                  <p>{p.descr}</p>
                  <div class="my-2 cursor-default">
                    {p.techs.map((t) => (
                      <Shield text={t} />
                    ))}
                  </div>
                  <details class="mt-2 block">
                    <summary class="cursor-pointer select-none">More Details</summary>
                    <ul class="ml-2">
                      {p.funcs.map((f) => (
                        <li class="my-1 ml-4 list-disc">{f}</li>
                      ))}
                    </ul>
                  </details>
                </div>
              </div>
            ))
          }
        </div>
      </section>
      <section class="projects relative my-2">
        <h2 class="my-8 text-center text-5xl">Work</h2>
        <div class="grid w-full grid-cols-2 gap-5 md:grid-cols-3">
          {
            jobs.map((job) => (
              <div>
                <h2>{job.name}</h2>
                <h3>{job.role}</h3>
                <p class="text-sm text-gray-500">{job.loc}</p>
              </div>
            ))
          }
        </div>
      </section>

      <Footer />

      <style>
        .radiant-bg {
          transition: background 0.3s ease;
        }

        #prjt:hover .radiant-bg {
          background: radial-gradient(circle, #ff8c00, #ff2d20, #ff8c00);
        }

        .me-grid-container {
          perspective: 25rem;
          position: relative;
        }

        .me-grid {
          position: absolute;
          bottom: 10%;
          left: 0;
          width: 100%;
          height: 50%;
          max-height: 200px;
          z-index: -1;
          background: url('/static/grid-me.png');
          background-size: 20px;
          transform: rotateX(30deg);
        }

        svg * {
          fill: 'radial-gradient(at left bottom, #4B4754, #4EBED2)';
        }

        body:not(.dark) .me-grid {
          filter: invert(1);
        }
      </style>

      <script lang="text/javascript" define:vars={{ skillsColrs }}>
        run();

        window.addEventListener('astro:after-swap', () => {
          run();
        });

        function run() {
          skillsColrs.forEach((el) => {
            const skill = document.getElementById(el.name);
            const probNot = document.getElementById('prob-not');

            skill.addEventListener('mouseover', function () {
              skill.style.transition = '0.5s';
              skill.style.color = el.color;

              if (el.name == 'skill-design') {
                skill.style.textDecoration = 'line-through';
                probNot.classList.remove('hidden');
              }

              var elementsToChange = document.querySelectorAll(`.${el.name}`);
              elementsToChange.forEach(function (element, index) {
                element.style.transition = '0.3s';
                element.style.fill = el.color;
                setTimeout(() => {
                  element.classList.add('-translate-y-2');
                }, index * 20);
              });
            });

            skill.addEventListener('mouseout', function () {
              skill.style.color = '';
              skill.style.textDecoration = '';
              probNot.classList.add('hidden');
              var elementsToChange = document.querySelectorAll(`.${el.name}`);
              elementsToChange.forEach(function (element, index) {
                element.style.transition = '0.3s';
                element.style.fill = '';
                setTimeout(() => {
                  element.classList.remove('-translate-y-2');
                }, index * 20);
              });
            });
          });
        }
      </script>
    </main>
  </body>
</html>
