---
import type { CollectionEntry } from 'astro:content';
import type { MarkdownHeading } from 'astro';
import { Image } from 'astro:assets';

import BaseHead from '@layouts/BaseHead.astro';
import Header from '@layouts/Header.astro';
import Footer from '@layouts/Footer.astro';
import TableOfContents from '@layouts/TableOfContents.astro';
import Article from '@layouts/Article.astro';

import Shield from '@containers/Shield.astro';
import Card from '@containers/Card.astro';

import Icon from '@components/Icon.astro';
import WeirdButton from '@components/WeirdButton.astro';
import FormattedDate from '@components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'] & {
  headings: MarkdownHeading[];
  readingTime: number;
};

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  tags,
  category,
  headings,
  heroTitle,
  readingTime,
} = Astro.props;

const link = Astro.url;
---

<html lang="en">
  <head>
    <BaseHead title={title!} description={description!} />
  </head>

  <body>
    <Header />
    <div class="mx-auto grid max-w-screen-xl grid-cols-1 gap-4 p-4 md:grid-cols-4">
      <main class="order-2 md:order-1 md:col-span-3">
        <Article>
          <div class="my-2">
            <h1 class="text-3xl lg:text-6xl" transition:name="post-title">{title}</h1>
            <div class="text-sm text-gray-800 dark:text-gray-300">
              <div class="flex items-center">
                <Icon icon="date" class="m-0 inline h-5 w-5 fill-gray-500" />
                 Published on: <FormattedDate date={pubDate} />
              </div>
              {
                updatedDate && (
                  <div class="flex items-center">
                    <Icon icon="pen" class="m-0 inline h-5 w-5 fill-gray-500" /> Last updated on:{' '}
                    <FormattedDate date={updatedDate} />
                  </div>
                )
              }
              {
                readingTime && (
                  <div class="flex items-center">
                    <Icon icon="clock" class="m-0 inline h-5 w-5 fill-gray-500" />
                    Reading time: {readingTime} minutes
                  </div>
                )
              }
            </div>
          </div>

          <div class="hero-image mb-2">
            {heroImage && <Image src={heroImage} alt={heroTitle} />}
          </div>

          <div class="prose prose-sky my-2 dark:prose-invert lg:prose-xl">
            <slot />
          </div>
        </Article>

        <Card>
          <div class="my-5 flex justify-center gap-2 text-sm">
            {
              tags &&
                tags.map((tag) => (
                  <a href={`/blog/tags/${tag}`}>
                    <Shield text={'#' + tag} />
                  </a>
                ))
            }
          </div>

          <div class="my-5 flex items-center justify-center">
            <hr class="w-1/3" />
            <WeirdButton href={`/blog/categs/${category}`} text={category} />
            <hr class="w-1/3" />
          </div>

          <div class="flex items-center justify-center gap-12">
            <span> share this post:</span>
            <span class="flex items-center justify-center gap-3">
              <a
                target="_blank"
                title="Share to X"
                href={`https://twitter.com/intent/tweet?text=${title}&original_referer=${link}&via=jihed_mastouri`}
              >
                <Icon
                  icon="x"
                  folder="social"
                  class="block h-5 w-5 hover:fill-sky-500 dark:fill-gray-200 hover:dark:fill-sky-500"
                />
              </a>
              <a
                target="_blank"
                title="Share to Facebook"
                href={`https://facebook.com/sharer/sharer.php?u=${link}`}
              >
                <Icon
                  icon="fb"
                  folder="social"
                  class="block h-5 w-5 hover:fill-sky-500 dark:fill-gray-200 hover:dark:fill-sky-500"
                />
              </a>
              <a
                target="_blank"
                title="Share to LinkedIn"
                href={`https://www.linkedin.com/sharing/share-offsite/?url=${link}`}
              >
                <Icon
                  icon="linkedin"
                  folder="social"
                  class="block h-5 w-5 hover:fill-sky-500 dark:fill-gray-200 hover:dark:fill-sky-500"
                />
              </a>
              <a
                target="_blank"
                title="Share Through Mail"
                href={`mailto:?subject=${title}&body=${description}  ${link}`}
              >
                <Icon
                  icon="paper-plane-solid"
                  folder="social"
                  class="block h-5 w-5 hover:fill-sky-500 dark:fill-gray-200 hover:dark:fill-sky-500"
                />
              </a>
            </span>
          </div>
        </Card>
      </main>

      <side class="order-1 h-full md:order-2 md:col-span-1" transition:animate="slide">
        <TableOfContents headings={headings} />
      </side>
    </div>

    <Footer />
    <style>
      .hero-image {
        margin-bottom: 1rem;
      }
    </style>
  </body>
</html>
